<div class="comment" data-comment-id="{{commentId}}" data-user="{{user}}">
  <div class="commenter-name">{{user}}</div>
  <div class="comment-box">
    <p class="coment-body">{{text}}</p>
  </div>
</div>
