<div id="modal-background" class="hidden"></div>

<div id="create-stash-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Make a new Stash.</h3>
      <button type="button" class="close-modal">&times;</button>
    </div>

    <div class="modal-body">

      <div class="stash-input-element">
        <label for="stash-title-input">Stash Name</label>
        <input type="text" id="stash-name-input" maxlength=35></input>
      </div>

      <div class="stash-input-element">
        <label for="stash-description-input">Stash Description</label>
        <input type="text" id="stash-description-input"  maxlength=100>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="close-modal action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Create Stash</button>
    </div>

  </div>

</div>
