/* Remove the margin/padding around content by default. */
html, body, h1, h2 {
  padding: 0;
  margin: 0;
}

html *
{
  font-family: Arial;
}

/* Change the color of the body */
body {
  background-color: #646464;
}

/* Stop links from being underlined by default. */
a {
  text-decoration: none;
}

/* The header box. */
.header-box {
  display: flex;
  flex-direction: row;
  
  height: 200px;
  background-color: black;
}

/* Components of the title in the header. */
.header-box span, .site-title, .page-topic {
  font-family: 'Gloria Hallelujah';
  position: relative;
  top: 25px;
  left: 100px;
  color: white;
  font-size: 75px;
  font-weight: 100;
  white-space: nowrap;
}

/* set header image max height */
.header-box img {
	max-height: 190px;
	margin: 10px;
}

/* The section where all of our posts are held. */
.posts {
  width: 75%;
  display: inline-flex;
  flex-direction: column;
}

/* A single post. */
.post {
  display: block;
  margin: 10px;
  border: 2px solid #ececec;
  border-radius: 3px;
}

/* Inner box for post. */
.post-box {
  max-height: 300px;
}

/* Image box for result. */
.post-image-box {
  display: inline-block;
  margin: 10px;
  width: 200px;
  max-height: 275px;
}

/* Images inside the image box. */
.post-image-box img {
  display: inline;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Title component of a post. */
.post-title-box {
  vertical-align: top;
  display: inline-block;
  margin: 20px;
  font-weight: 700;
}

/* The tag of the post. */
.post-tag {
  margin: 5px;
  padding: 2px;
  font-size: 12px;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  background-color: #ececec;
}

/* Title of the post. */
.post-title {
  color: white;
}

/* The topic the post comes from. */
.post-topic {
  color: #00D0D0;
}

/* The user who made the post. */
.post-user {
  color: #00D0D0;
}

/* Mouse over name of result. */
.post-title:hover {
  text-decoration: underline;
}

/* The side panel. */
.side-bar {
  display: inline-block;
  float: right;
  width: 250px;
  vertical-align: top;
  margin: 10px;
  border: 2px solid #ececec;
  border-radius: 3px;
}

/* The blocks that make up the side panel. */
.side-box {
  margin: 10px;
  min-height: 100px;
}


/* Text in the side bar */
.side-text {
  font-size: 18px;
  font-weight: 100;
  color: white;
}

/* The create post modal. */
#create-post-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

/* Background for when the modal is active.*/
#modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

/* Anything with the hidden class is not shown. */
.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  border-radius: 3px;
  background-color: #646464;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.close-modal {
  border: 2px solid #ececec;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  font-size: 18px;
  color: white;
  background-color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.close-modal:hover {
  cursor: pointer;
  background-color: #00D0D0;
}

.modal-body {
  padding: 20px;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.action-button {
  border: 2px solid #ececec;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-button:hover {
  cursor: pointer;
  background-color: #00D0D0;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}