{{>header}}

<main>
    <div class="content-box-404">
      <h1>404</h1>
      <h2>Page not found.</h2>
      <img class="img-404" src="no_treasure.png" alt="Empty chest.">
      <h3>The stash is empty.<br>No treasure here.</h3>
    </div>
</main>
