{{> header}}

<main>

  <div class="content-container">

    <section class="posts", id="id-posts">
      {{#each posts}}
        {{> post}}
      {{/each}}
    </section>

    <section class="new-comment">
      <div id="new-comment-box">
        <div class="comment-input-box" id="new-comment-body-box">
          <textarea id="comment-body-input" rows="4" cols="100"></textarea>
        </div>
        <div class="comment-button-container">
          <button type="button" id="comment-button" class="accept-comment-button action-button">Add Comment</button>
        </div>
      </div>
    </section>

    <section class="comments", id="id-comments">

      {{#each comments}}
        {{> comment}}
      {{/each}}

    </section>

  </div>

  {{>sidebarPost}}

  {{>modalPost}}

</main>
