  {{>header}}

	<main>

    <div class="content-container">
			<section class="posts">

        {{#each post}}
          {{> post}}
        {{/each}}

			</section>
		</div>

    {{>sidebarPost}}

    {{>modalPost}}

</main>
