{{>header}}

<main>

  <div class="content-container">
	<section class="posts", id="id-posts">

      		{{#each posts}}
        		{{> post}}
      		{{/each}}

	</section>
  </div>

  {{>sidebarPost}}

  {{>modalPost}}

</main>
