{{>header}}

<main>

  <div class="content-container" id="id-content-container">
	<section class="stashes", id="id-stashes">

      		{{#each stashes}}
        		{{>stash}}
      		{{/each}}

  	</section>
  </div>

  {{>sidebarStash}}

  {{>modalStash}}

</main>
