<body>

  {{>header}}

	<main>

    <div class="content-container">
			<section class="stashes">

        {{#each stash}}
          {{> stash}}
        {{/each}}

			</section>
		</div>

    {{>sidebarStash}}

    {{>modalStash}}

		</main>

</body>
