{{>header}}

<main>

  <div class="content-container">
	<section class="stashes">

      	{{#each stashes}}
        	{{> stash}}
      	{{/each}}

  	</section>
  </div>

  {{>sidebarStash}}

  {{>modalStash}}

</main>
