/* Remove the margin/padding around content by default. */
html, body, h1, h2 {
  padding: 0;
  margin: 0;
}

html *
{
  font-family: Arial;
}

/* Change the background of the body */
body {
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

/* Stop links from being underlined by default. */
a {
  text-decoration: none;
}

/* The header box. */
.header-box {
  display: flex;
  flex-direction: row;

  height: 200px;
  background-color: #333333;
}

/* Components of the title in the header. */
.header-box span, .site-title, .page-topic {
  font-family: 'Gloria Hallelujah';
  position: relative;
  top: 25px;
  left: 100px;
  color: white;
  font-size: 75px;
  font-weight: 100;
  white-space: nowrap;
}

/* set header image max height */
.header-box img {
	max-height: 190px;
	margin: 10px;
}

/* The section where all of our content is held. */
.content-container {
  width: 75%;
  display: inline-flex;
  flex-direction: column;
}

/* A single stash/post/comment. */
.post, .stash, .comment {
  display: block;
  width: 75%;
  margin: 10px;
}

/* Inner box for post. */
.post-box {
  max-height: 300px;
}

/* Inner box for stash/post/comment */
.stash-box, .post-box, .comment {
  max-height: 300px;
  padding: 5px;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 3px;
}

/* Image box for result. */
.post-image-box {
  display: inline-block;
  margin: 10px;
  width: 200px;
  max-height: 275px;
}

/* Images inside the image box. */
.post-image-box img {
  display: inline;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ececec;
}

/* Title component of a post. */
.post-title-box {
  vertical-align: top;
  display: inline-block;
  margin: 20px;
  font-weight: 700;
}

/* The tag of the post. */
.post-tag {
  margin: 5px;
  padding: 2px;
  font-size: 12px;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  background-color: #ececec;
}

/* Standard text of stash/post/comment. */
.post-title, .stash-desc, .comment {
  color: white;
}

/* Box where you enter a new comment. */
.new-comment {
  margin: 10px;
  padding: 5px;
  border: 2px solid #333333;
  border-radius: 3px;
  width: 75%;
  display: inline-flex;
  flex-direction: column;
  color: white;
}

/* The stash the post comes from. */
.post-topic {
  color: #00D0D0;
}

/* The title of a stash. */
.stash-title  {
  color: #00D0D0;
  font-size: 20px;
}

/* The user who made the post. */
.post-user {
  color: #00D0D0;
}

/* Mouse over name of result. */
.post-title:hover {
  text-decoration: underline;
}

/* The side panel. */
.side-bar {
  display: inline-block;
  float: right;
  width: 250px;
  vertical-align: top;
  margin: 10px;
  border: 2px solid #333333;
  border-radius: 3px;
  background-color: #333333;
}

/* The blocks that make up the side panel. */
.side-box {
  margin: 10px;
  min-height: 50px;
}

/* The blocks that make up the side panel with borders. */
.side-box-border {
  margin: 10px;
  padding: 10px;
  min-height: 50px;
  border: 2px solid #ececec;
  border-radius: 3px;
  background-color: #808080;
}

/* Search box / user name box in the side bar. */
.search-box, .user-name-box {
  color: white;
}

/* The search / user name text field in the side bar. */
.search-bar, #text-name-of-poster {
  display: inline-flex;
  width: 100%;
  min-width: 10px;
  border: 2px solid #ececec;
  border-radius: 3px;
}

/* The search button. */
.search-button {
  border: 2px solid #ececec;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: white;
  background-color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Text in the side bar. */
.side-text {
  font-size: 18px;
  font-weight: 100;
  color: white;
}

/* The create post/stash modal. */
#create-post-modal, #create-stash-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

/* Background for when the modal is active.*/
#modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

/* Field where comments are entered by users. */
#comment-body-input {
  box-sizing: border-box;
  width: 100%;
  min-width: 10px;
  border: 2px solid #ececec;
  border-radius: 3px;
}

/* Anything with the hidden class is not shown. */
.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  border-radius: 3px;
  background-color: #646464;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

/* Close modal button. */
.close-modal {
  border: 2px solid #ececec;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  font-size: 18px;
  color: white;
  background-color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Mouse over close modal button. */
.close-modal:hover {
  cursor: pointer;
  background-color: #00D0D0;
}

/* Modal body. */
.modal-body {
  padding: 20px;
}

/* Modal input descriptions box. */
.post-input-element, .stash-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

/* Modal input descriptions. */
.post-input-element > label, .stash-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

/* Modal input box. */
.post-input-element input, .stash-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

/* The modals footer. */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

/* Visual look of all action buttons. */
.action-button {
  border: 2px solid #ececec;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #b0b0b0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Make action buttons / search button glow teal when hovered over. */
.action-button:hover, .search-button:hover {
  cursor: pointer;
  background-color: #00D0D0;
}

/* The modal's cancel and accept buttons. */
#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

/* 404 page's content. */
.content-box-404 {
  max-width: 300px;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 5px;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 3px;
}

/* 404 page's image. */
.img-404 {
  margin: 30px 10px 10px 10px;
  width: 150px;
  height: 150px;
}
