<div class="comment" data-comment-id="{{COMMENT_ID}}" data-user="{{USER}}">
  <div class="commenter-name">{{USER}}</div>
  <div class="comment-box">
    <p class="coment-body">{{TEXT}}</p>
  </div>
</div>
